<!--Section: Contact v.2-->
{% extends "layout.html" %}
{% block body %}

<form class="text-left" method="post" action="/mainpage">
    <button type="submit" name="back-button" class="btn btn-secondary btn-sm">Back</button>
</form>
<section class="mb-4">
        <!--Section heading-->
        <h2 class="h1-responsive font-weight-bold text-center my-4">Contact us</h2>
        <!--Section description-->
        <p class="text-center w-responsive mx-auto mb-5">Do you have any questions? Please do not hesitate to contact us directly. Our team will come back to you within
        a matter of hours to help you.</p>

        <div class="row">

         <div class= "col">
            <!--blank filler column-->
         </div>
            <!--Grid column-->
            <div class="col-6">
                    <form id="contact-form" name="contact-form" action="/contacted" method="POST">

                        <!--Grid row-->
                        <div class="row">
                            <div class="col-md-12">
                                <div class="md-form mb-0">
                                    <label for="subject" class="">Subject</label>
                                    <input type="text" id="subject" name="subject" class="form-control">

                                </div>
                            </div>
                        </div>
                        <!--Grid row-->

                        <!--Grid row-->
                        <div class="row">

                            <!--Grid column-->
                            <div class="col-md-12">

                                <div class="md-form">
                                    <label for="message">Your message</label>
                                    <textarea type="text" id="message" name="message" rows="2" class="form-control md-textarea"></textarea>

                                </div>

                            </div>
                        </div>
                        <!--Grid row-->

                    </form>

                    <div class="text-center text-md-left">
                        <a class="btn btn-primary" onclick="document.getElementById('contact-form').submit();">Send</a>

                    </div>
                        <div class="status"></div>
            
            </div>
            <!--Grid column-->

            <div class= "col">
            <!--blank filler column-->
            </div>

        </div>

</section>
{% endblock %}
<!--Section: Contact v.2-->