{% extends "layout.html" %}
<!--EXTEND LAYOUT FILE-->

{% block body %}
<!--Code goes between body blocks-->

<link href="{{ url_for('static', filename='css/signin.css') }}" rel="stylesheet">

<body class="text-center">
    <main class="form-signin">
        <form method="post" action="/forgot">
            <h1 class="h3 mb-3 fw-normal">Please enter email</h1>
            <div class="form-floating">
                <input name="email" type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
            </div>
            <button class="w-100 btn btn-lg btn-primary" type="submit">Submit</button>
        </form>
    </main>
</body>

{% endblock %}