{% extends "layout.html" %}
<!--EXTEND LAYOUT FILE-->

{% block body %}
<!--Code goes between body blocks-->

<head>
     <meta charset="utf-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>None</title>
</head>

<body>
     <script>
          $(document).ready(function () {

               var MaxInputs = 8; //maximum input boxes allowed
               var InputsWrapper = $("#InputsWrapper"); //Input boxes wrapper ID
               var AddButton = $("#AddMoreFileBox"); //Add button ID

               var x = InputsWrapper.length; //initlal text box count
               var FieldCount = 1; //to keep track of text box added

               $(AddButton).click(function (e)  //on add input button click
               {
                    if (x <= MaxInputs) //max input box allowed
                    {
                         FieldCount++; //text box added increment
                         //add input box
                         $(InputsWrapper).append('<div class="row"><p class="col-xs-6"><input type="text" placeholder="Enter class" class="form-control skill_list" name="skill[]" id="field_' + FieldCount + '"/></p><a href="#" class="btn btn-danger removeclass">×</a></div>');
                         x++; //text box increment
                    }
                    return false;
               });

               $("body").on("click", ".removeclass", function (e) { //user click on remove text
                    if (x > 1) {
                         $(this).parent('div').remove(); //remove text box
                         x--; //decrement textbox
                    }
                    return false;
               })
               $('#submit').click(function () {
                    $.ajax({
                         url: "/postskill",
                         method: "POST",
                         data: $('#add_skills').serialize(),
                         success: function (data) {
                              alert(data)
                              $('#resultbox').html(data);
                              $('#add_skills')[0].reset();
                         }
                    });
               });
          });
     </script>
     <style>
          .row {
               padding: 10px;
          }
     </style>
     <div class="container">
          <br />
          <br />
          <h2 align="center">Your Planner - THIS IS ONLY FOR REFERENCE</h2>
          <div id="resultbox"></div>
          <div class="form-group">
               <form name="add_skills" id="add_skills">
                    <div id="InputsWrapper">
                         <div class="row">
                              <div class="col-xs-6"><input type="text" name="skill[]" placeholder="Enter your class"
                                        class="form-control name_list" /></div>
                              <div class="col-xs-6"><button type="button" name="add" id="AddMoreFileBox"
                                        class="btn btn-success">Add More</button></div>
                         </div>
                    </div>
                    <br />
                    <input type="button" name="submit" id="submit" class="btn btn-info" value="Submit" />
               </form>
          </div>
     </div>
</body>
{% endblock %}