{% extends "layout.html" %}
<!--EXTEND LAYOUT FILE-->

{% block body %}


<div class="container-fluid">
   <a class="btn btn-primary" href="/logout">Log out </a>
   <a href="/deleteUser/" class="btn btn-danger btn-xs float-right" onclick="return confirm('Are you sure you want to delete your account?')">Delete User</a>

   <div class="row">
      <div class="col md-12">

         <div class="jumbotron p-3">

            <h2><b>{{name}}'s Course Planner</b>
               <form method="post" action="/viewcourses">
                    <button type="submit" name="viewcourses-button" class="btn btn-success float-right">Search Courses</button>
                  </form>
            </h2>




            <table class="table">

               <tr>

                  <th>Course</th>
                  <th>Credits</th>
                  <th>Grade</th>
                  <th>Difficulty</th>
                  <th>Quality</th>
                  <th>Textbook</th>
                  <th>Skill</th>
                  <th>Status</th>
                  <th>Online</th>

               </tr>


               {% for row in courses %}
               <tr bgcolor={{"LightSkyBlue" if row.cStatus=="Planned" else "LightGreen" if row.cStatus=="Taken" else "white"}}>
                  <td>{{row}}</td>
                  <td>{{row.cCredits}}</td>
                  <td>{{"A" if row.cGrade==4 else "B" if row.cGrade==3.3 else "C" if row.cGrade==2.3 else "D" if row.cGrade==1.5 else "F" if row.cGrade==0 else "None"}}</td>
                  <td>{{row.cDifficulty}}</td>
                  <td>{{row.cQuality}}</td>
                  <td>{{"Yes" if row.cTextbook==1 else "No" if row.cTextbook==0 else "None"}}</td>
                  <td>{{row.cSkill}}</td>
                  <td>{{row.cStatus}}</td>
                  <td>{{"Yes" if row.cOnline==1 else "No" if row.cOnline==0 else "None"}}</td>

                  <td>
                     <a href="/update/{{row.cID}}" class="btn btn-warning btn-xs" data-toggle="modal"
                        data-target="#modaledit{{row.cID}}">Edit</a>
                     <a href="/delete/{{row.cID}}" class="btn btn-danger btn-xs"
                        onclick="return confirm('Are you sure you want to delete?')">Delete</a>

                  </td>

               </tr>



               <!-- Edit Course-->
               <div id="modaledit{{row.cID}}" class="modal fade" role="dialog">
                  <div class="modal-dialog">


                     <div class="modal-content">


                        <div class="modal-header">


                           <h4 class="modal-title">Course Information</h4>


                        </div>


                        <div class="modal-body">


                           <form action="/update/{{row.cID}}" method="POST">


                              <div class="form-group">

                                 <input type="hidden" class="form-control" name="cID" value="{{row.cID}}">

                                 <label>Grade:</label> <br>

                                 <select name="grade">
                                    <option disabled selected value="{{row.cGrade}}">{{"A" if row.cGrade==4 else "B" if row.cGrade==3.3 else "C" if row.cGrade==2.3 else "D" if row.cGrade==1.5 else "F" if row.cGrade==0 else "None"}}</option>
                                    <option value="4">A</option>
                                    <option value="3.3">B</option>
                                    <option value="2.3">C</option>
                                    <option value="1.5">D</option>
                                    <option value="0">F</option>
                                 </select>


                              </div>



                              <div class="form-group">


                                 <label>Textbook Required:</label> <br>

                                 <input type="radio" id="yes" name="textbook" value="1">
                                 <label for="yes">Yes</label><br>
                                 <input type="radio" id="no" name="textbook" value="0">
                                 <label for="no">No</label><br>
                              </div>

                              <div class="form-group">


                                 <label>Is Online:</label> <br>

                                 <input type="radio" id="online" name="online" value="1">
                                 <label for="yes">Yes</label><br>
                                 <input type="radio" id="inperson" name="online" value="0">
                                 <label for="inperson">No</label><br>

                              </div>


                              <div class="form-group">


                                 <label>Class Difficulty:</label> <br>

                                 <label for="difficulty">Difficulty (1:Easy->5:Hard)        </label>
                                 <input selected value="{{row.cDifficulty if row.cDifficulty else None}}" type="range" id="difficulty" name="difficulty" min="1" max="5" value="rating" oninput="this.nextElementSibling.value = this.value">
                                 <output>{{row.cDifficulty}}</output>

                              </div>

                              <div class="form-group">


                                 <label>Class Quality:</label> <br>

                                  <label for="quality">Quality (1:Bad->5:Great)</label>
                                 <input selected value="{{row.cQuality if row.cQuality else None}}" type="range" id="quality" name="quality" min="1" max="5" value="rating" oninput="this.nextElementSibling.value = this.value">
                                 <output>{{row.cQuality}}</output>


                              </div>

                              <div class="form-group">


                                 <label>Suggested Skill:</label> <br>

                                 <select name="skill">
                                    <option disabled selected value="{{row.cSkill}}">{{row.cSkill}}</option>
                                    <option value="Python">Python</option>
                                    <option value="C++">C++</option>
                                    <option value="Java">Java</option>
                                    <option value="Recursion">Recursion</option>
                                    <option value="Linux">Linux</option>
                                    <option value="Git">Git</option>
                                 </select>

                              </div>

                              <div class="form-group">


                                 <label>Current Class Status:</label> <br>

                                 <select name="status">
                                    <option disabled selected value="{{row.cStatus}}">{{row.cStatus}}</option>
                                    <option value="In Progress">In Progress</option>
                                    <option value="Taken">Taken</option>
                                    <option value="Planned">Planned</option>
                                 </select>

                              </div>

                              <div class="form-group">


                                 <button class="btn btn-primary" type="submit">Update</button>


                              </div>


                           </form>


                        </div>


                        <div class="modal-footer">


                           <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>


                        </div>


                     </div>


                  </div>

               </div>


               {% endfor %}


            </table>


         </div>


      </div>

   </div>


   <div style="width:1000px;">
    <div style="float: left; width: 130px">
        <form method="post" action="/viewmajors">
           <button type="submit" name="viewmajor-button" class="btn btn-primary">Select Major</button>
         </form>
    </div>
    <div style="float: left; width: 120px">
        <form method="post" action="/contactUs">
           <button type="submit" name="contactus-button" class="btn btn-primary">Contact Us</button>
         </form>
    </div>
   </div>

</div>


{% endblock %}