{% extends "layout.html" %}
<!--EXTEND LAYOUT FILE-->

{% block body %}
<!--Code goes between body blocks-->

<head>
     <meta charset="utf-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>None</title>
</head>

<body>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

  <script>
    $(document).ready(function(){
      var scourse = {scourse}


      $("#classInput").on("keyup", function() {
        var value = $(this).val().toLowerCase();
        $("#myTable tr").filter(function() {
          $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
        });
      });
      $('.table > tbody > tr').click(function() {
        scourse = $(this).text();
        console.log(scourse);
      });
    });
    </script>



    <div class = "container">
      <div class="text-left">
          <a id="back-button" href="/mainpage" class="btn btn-secondary btn-sm" >Back</a>
      </div>
      
      <h1 align="center">Course Bank Page</12>
      <h2>Search Course Bank</h2>
      <input class="form-control" id="classInput" type="text" placeholder="Search...">
      <br>
      
      <form method="post" action="/viewcourses"> 
        <table class="table table-bordered table-striped">
        
          <thead>
            <tr>
              <th>Course</th>
              
            </tr>
          </thead>
          <tbody id="myTable">
            {% for course in coursebank %}
            <tr>
                <td>{{course.cDept}} {{course.cCode}}: {{course.cName}}</td>
                <td>
                  <a id="courseSelect" href="/insertcourse/{{course.cID}}" class="btn btn-warning btn-xs" >Select</a>
               </td>
            </tr>
            {% endfor %}


          </tbody>
          
        </table>
    </form>
        
      </div>


</body>



{% endblock %}